table{
    background-color: snow;
    width: 1000;
    
}

#day{
    background-color: #f4f1d1;
    border-bottom: 10px double snow;
    
}


.tile{
    width:1000;
    margin:  15px;
 
    border: 3px solid rgba(255, 255, 34, 0.69);
    border-bottom:3px double grey
}



td{
    text-align: center;
    width: 150px;
    border: 3px double #f5eb67;
    margin: 2px;
    padding: 4px;
    background-color: #f4e9e9;
    
}
.time{
     background-color: #effad2;
     border-right: 10px double snow;
     width: 15px;
     
    
}
#sat{
    width:10px;
    background-color: #ad9981;
    width: 10px;
    
}
#sun{
    width:10px;
        background-color: #ad9981;

}
    



